DB_PRIVATE_IP=10.220.10.10
DB_DOCKER_SUBNET=172.30.10.0/24
PROD_WG_IP=10.220.10.1
OPS_WG_IP=10.220.10.2

POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=<LONG_RANDOM_POSTGRES_SUPERUSER_PASSWORD>
POSTGRES_APP_DB=deskimperial
MIGRATION_DB_USER=desk_migration
MIGRATION_DB_PASSWORD=<LONG_RANDOM_MIGRATION_PASSWORD>

APP_DB_USER=desk_app
APP_DB_PASSWORD=<LONG_RANDOM_APP_PASSWORD>

BI_DB_USER=desk_bi_reader
BI_DB_PASSWORD=<LONG_RANDOM_BI_PASSWORD>

BACKUP_DB_USER=desk_backup
BACKUP_DB_PASSWORD=<LONG_RANDOM_BACKUP_PASSWORD>

MONITOR_DB_USER=desk_monitor
MONITOR_DB_PASSWORD=<LONG_RANDOM_MONITOR_PASSWORD>

PGBOUNCER_AUTH_USER=pgbouncer_auth
PGBOUNCER_AUTH_PASSWORD=<LONG_RANDOM_PGBOUNCER_AUTH_PASSWORD>
PGBOUNCER_STATS_USER=desk_monitor

PGBACKREST_STANZA=deskimperial_pg17
PGBACKREST_REPO_PATH=/var/lib/pgbackrest
PGBACKREST_REPO_RETENTION_FULL=2
PGBACKREST_REPO_RETENTION_DIFF=7
PGBACKREST_CIPHER_TYPE=aes-256-cbc
PGBACKREST_CIPHER_PASS=<LONG_RANDOM_PGBACKREST_CIPHER_PASS>

PGBACKREST_REPO_S3_BUCKET=<S3_BUCKET>
PGBACKREST_REPO_S3_ENDPOINT=<S3_ENDPOINT>
PGBACKREST_REPO_S3_REGION=<S3_REGION>
PGBACKREST_REPO_S3_KEY=<S3_ACCESS_KEY>
PGBACKREST_REPO_S3_KEY_SECRET=<S3_SECRET_KEY>

PGBOUNCER_POOL_MODE=transaction
PGBOUNCER_MAX_CLIENT_CONN=300
PGBOUNCER_DEFAULT_POOL_SIZE=20
PGBOUNCER_MIN_POOL_SIZE=5
PGBOUNCER_RESERVE_POOL_SIZE=5
