OPS_PRIVATE_IP=<OPS_PRIVATE_IP>

GRAFANA_ADMIN_USER=desk_observability_admin
GRAFANA_ADMIN_PASSWORD=<LONG_RANDOM_GRAFANA_PASSWORD>

ALERTMANAGER_WEBHOOK_URL=

PROMETHEUS_RETENTION_TIME=7d
PROMETHEUS_RETENTION_SIZE=3GB

SONAR_JDBC_USERNAME=sonarqube
SONAR_JDBC_PASSWORD=<LONG_RANDOM_SONAR_PASSWORD>
SONAR_WEB_JAVAOPTS=-Xms256m -Xmx768m
SONAR_CE_JAVAOPTS=-Xms256m -Xmx768m
SONAR_SEARCH_JAVAOPTS=-Xms768m -Xmx768m -XX:MaxDirectMemorySize=256m
