OPS_PRIVATE_IP=10.10.1.166

GRAFANA_ADMIN_USER=desk_observability_admin
GRAFANA_ADMIN_PASSWORD=change-me

ALERTMANAGER_WEBHOOK_URL=

PROMETHEUS_RETENTION_TIME=7d
PROMETHEUS_RETENTION_SIZE=3GB

SONAR_JDBC_USERNAME=sonarqube
SONAR_JDBC_PASSWORD=change-me
SONAR_WEB_JAVAOPTS=-Xms256m -Xmx768m
SONAR_CE_JAVAOPTS=-Xms256m -Xmx768m
SONAR_SEARCH_JAVAOPTS=-Xms768m -Xmx768m -XX:MaxDirectMemorySize=256m
